body {
  color: #333;  
}

p {
  line-height: 140%;
}

a {
 color: grey;
}

.top h1 {
  margin-bottom: -.2em;
  padding-left: 2em;
  float: left;
}
.top .inlinemenu {
  float: right;
}
.top hr {
  clear: both;
  border: none;
  border-top: solid 1px lightgray;
}



ul.inlinemenu li {
  display: inline;  
  border-left: dotted 1px #C0C0C0;
  padding: 0 .2em;
}
ul.inlinemenu li:first-child {
  border-left: none
}


img.mainimage {
  float: right;
  margin: 20px 80px 80px 80px;
}

.section {
  max-width: 50%;
  margin-left: 8em; /* left column */
  padding: 15px 0;
}

.section > * {
  /* not sure of a better way to align the heading and text */
  margin-top: 0;
}

.section > h2 {
  float: left; 
  width: 7em;
  font-weight: bold;
  font-size: inherit;
  margin-left: -8em; /* left columns */
  text-align: right;
}

.section ul { 
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.section ul li { 
  padding-bottom: 0.4em;
}

.postdate {
  float: right; 
  color: grey;
}
